USE [master]
GO
/****** Object:  Database [BLAIR]    Script Date: 10/16/2018 8:39:01 PM ******/
CREATE DATABASE [BLAIR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BLAIR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER2016\MSSQL\DATA\BLAIR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BLAIR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER2016\MSSQL\DATA\BLAIR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BLAIR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BLAIR]
GO
USE [BLAIR]
GO
/****** Object:  Table [dbo].[GAMES]    Script Date: 10/16/2018 8:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAMES](
	[GAMEID] [int] NOT NULL,
	[GAMETITLE] [varchar](50) NOT NULL,
	[PRICE] [decimal](4, 2) NOT NULL,
	[GAMEDESCRIPTION] [varchar](1000) NOT NULL,
	[REQUIREMENTS] [varchar](400) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GAMEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTIONHISTORY]    Script Date: 10/16/2018 8:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTIONHISTORY](
	[TRANSACTION_ID] [int] NOT NULL,
	[TRANSACTION_DETAILS] [varchar](200) NOT NULL,
	[TRANSACTION_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_TABLE]    Script Date: 10/16/2018 8:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_TABLE](
	[USERID] [int] NOT NULL,
	[USERNAME] [varchar](25) NULL,
	[PASSWORD] [varchar](32) NULL,
	[LNAME] [varchar](50) NULL,
	[FNAME] [varchar](50) NULL,
	[DOB] [varchar](20) NULL,
	[COUNTRY] [varchar](80) NULL,
	[PHONE] [int] NULL,
	[EMAIL] [varchar](40) NULL,
	[ACCOUNT_TYPE] [varchar](10) NULL,
	[CC_FULLNAME] [varchar](100) NULL,
	[CC_NUMBER] [int] NULL,
	[CC_EXPIRYDATE] [varchar](4) NULL,
	[CC_CVC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
