body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Calibri;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

.ub-container {
    padding-top: 30px;
    margin-bottom: 25px;
    display: block;
    overflow: auto;
}

.register-input {
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    background-color: #98af8c;
    color: rgb(100, 57, 57);
    font-weight: bolder;
    font-size: 18px;
    margin-top: 15px;
}

.register-input-container {
    display: block;
    overflow: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 5px 5px 8px;
    padding: 10px 10px 25px 10px;
    border-radius: 8px;
}

.register-panel-title {
    background-color: #9f887d;
    border-radius: 8px;
    padding: 5px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

.ub-book-button {
    background-color: #71a4d6;
    border: 2px solid #213140;
    border-radius: 8px;
    color: #fff;
}
